* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  background: #f5f5f5;
  height: 100vh;
}

.oven {
  width: 40vw;
  position: relative;
  overflow: hidden;
}

.back {
  width: 89%;
  background: #65c7bf;
  height: 6vw;
  border-top-right-radius: 2.5vw;
  border-top-left-radius: 2.5vw;
}

.top--holder {
  width: 100%;
  height: 10vw;
  -webkit-perspective: 60vw;
          perspective: 60vw;
  margin-top: -5vw;
  overflow: hidden;
}

.top {
  width: 100%;
  background: #5cada6;
  height: 20vw;
  -webkit-transform: rotateX(50deg);
          transform: rotateX(50deg);
}

.front {
  width: 100%;
  background: #65c7bf;
  height: 35vw;
  border-radius: 1vw;
  margin-top: -1vw;
  z-index: 4;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2vw;
}

.front .knob--row {
  width: 93%;
  height: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.front .knob--row .three--knob--holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.front .knob--row .timer {
  width: 6vw;
  height: 68%;
  border: .1vw solid #8e8d8d;
  background: #a5a5a5b8;
  border-radius: .3vw;
  text-align: center;
  font-size: 1vw;
  font-family: 'Orbitron', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  padding: .3vw;
  letter-spacing: .1vw;
}

.front .knob--row .timer::before {
  content: "";
  position: absolute;
  width: .5vw;
  height: .5vw;
  top: .3vw;
  right: 44%;
  background: red;
  border-radius: 50%;
  -webkit-animation: timer 1s linear 1s 11 normal forwards;
          animation: timer 1s linear 1s 11 normal forwards;
}

.front .knob--row .circle--knob {
  display: inline-block;
  width: 3vw;
  height: 3vw;
  background: #e8e8e8;
  border-radius: 100%;
  border: .2vw solid #656565;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1vw;
}

.front .knob--row .circle--knob .center {
  display: inline-block;
  width: 2vw;
  height: 2vw;
  border: .1vw solid #656565;
  border-radius: 100%;
  -webkit-box-shadow: inset 0px 0px 2px 1px gainsboro;
          box-shadow: inset 0px 0px 2px 1px gainsboro;
}

.front .door {
  width: 100%;
  background: #80dad3;
  height: 25vw;
  border-radius: 2vw;
  padding: 2vw;
}

.front .door .glass {
  width: 100%;
  background: #ffffff94;
  height: 18vw;
  border-radius: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border: .2vw solid #656565;
  overflow: hidden;
}

.front .door .glass::after {
  content: "";
  position: absolute;
  width: 1vw;
  height: 100%;
  background: #ffffff4d;
  right: 9%;
  -webkit-transform: skewX(323deg);
          transform: skewX(323deg);
  z-index: 5;
}

.front .door .glass::before {
  content: "";
  position: absolute;
  width: 3vw;
  height: 100%;
  background: #ffffff4d;
  right: 18%;
  -webkit-transform: skewX(323deg);
          transform: skewX(323deg);
  z-index: 5;
}

.front .door .knob {
  margin: 0 auto 2vw auto;
  width: 90%;
  height: 1vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.front .door .knob .center {
  width: 94%;
  height: 1vw;
  background: #e8e8e8;
  border-radius: 1vw;
  position: absolute;
  right: 3%;
  z-index: 4;
  border: .2vw solid #656565;
}

.front .door .knob .right {
  width: 9%;
  height: 1.5vw;
  background: #656565;
  z-index: 2;
  border-radius: 1vw;
  border-top-right-radius: 3vw;
  border-bottom-right-radius: 3vw;
}

.front .door .knob .left {
  width: 9%;
  height: 1.5vw;
  background: #656565;
  z-index: 2;
  border-radius: 2vw;
  border-top-left-radius: 3vw;
  border-bottom-left-radius: 3vw;
}

.front .door .tray--holder {
  width: 100%;
  height: 0vw;
  -webkit-perspective: 400px;
          perspective: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.front .door .tray {
  width: 84%;
  height: 15vw;
  background: #52525233;
  -webkit-transform: rotateX(72deg);
          transform: rotateX(72deg);
}

.cake {
  width: 48%;
  margin-bottom: -1vw;
  z-index: 4;
}

.cake .dish {
  width: 100%;
  height: 2.5vw;
  background: #8e8e8e;
  border-radius: .4vw;
  -webkit-box-shadow: -2px 2px 2px #969696;
          box-shadow: -2px 2px 2px #969696;
  border-bottom-right-radius: 4vw;
  border-bottom-left-radius: 4vw;
  z-index: 3;
}

.cake .dough {
  width: 100%;
  height: 3vw;
  position: relative;
  overflow: hidden;
}

.cake .dough::after {
  content: "";
  position: absolute;
  top: 2.3vw;
  width: 100%;
  height: 8vw;
  border-radius: 50%;
  background: #f4c092;
  -webkit-animation: rise 10s 1s linear forwards;
          animation: rise 10s 1s linear forwards;
}

@-webkit-keyframes rise {
  100% {
    top: 0vw;
    background: #d09662;
  }
}

@keyframes rise {
  100% {
    top: 0vw;
    background: #d09662;
  }
}

@-webkit-keyframes timer {
  100% {
    background-color: #4c4c4c;
  }
}

@keyframes timer {
  100% {
    background-color: #4c4c4c;
  }
}

.steam {
  width: 100%;
  position: relative;
}

.steam .steam--1 {
  position: absolute;
  width: .5vw;
  height: 3vw;
  background: #ffffff7a;
  border-radius: 100%;
  right: 25%;
  bottom: -5vw;
  opacity: 0;
  -webkit-animation: steam--rise 3s ease 0s infinite;
          animation: steam--rise 3s ease 0s infinite;
}

.steam .steam--2 {
  position: absolute;
  width: .5vw;
  height: 2vw;
  background: #ffffff7a;
  border-radius: 100%;
  right: 50%;
  bottom: -5vw;
  -webkit-animation: steam--rise 3s ease 0s infinite;
          animation: steam--rise 3s ease 0s infinite;
}

.steam .steam--3 {
  position: absolute;
  width: .5vw;
  height: 4vw;
  background: #ffffff7a;
  border-radius: 100%;
  right: 70%;
  bottom: -5vw;
  -webkit-animation: steam--rise 3s ease 0s infinite;
          animation: steam--rise 3s ease 0s infinite;
}

@-webkit-keyframes steam--rise {
  0% {
    opacity: .4;
  }
  25% {
    opacity: .7;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: .5;
  }
  100% {
    bottom: 10px;
    opacity: .2;
  }
}

@keyframes steam--rise {
  0% {
    opacity: .4;
  }
  25% {
    opacity: .7;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: .5;
  }
  100% {
    bottom: 10px;
    opacity: .2;
  }
}

.legs--holder {
  width: 100%;
  position: relative;
  height: 2vw;
}

.legs--holder::before {
  content: "";
  position: absolute;
  right: 10%;
  background: #757272;
  width: 5vw;
  height: 1vw;
  display: inline-block;
  border-bottom-right-radius: 1vw;
  border-bottom-left-radius: 1vw;
}

.legs--holder::after {
  content: "";
  position: absolute;
  left: 10%;
  background: #757272;
  width: 5vw;
  height: 1vw;
  display: inline-block;
  border-bottom-right-radius: 1vw;
  border-bottom-left-radius: 1vw;
}
/*# sourceMappingURL=style.css.map */